* {
    margin: 0;
    padding: 0;
}

.heading>h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: bold;
}

.name {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

.name>input {
    width: 250px;
    height: 30px;
    font-size: 20px;
}

.flex {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

.flex>input {
    width: 250px;
    height: 30px;
    font-size: 20px;
}

button {
    margin-left: 370px;
    margin-top: 40px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 25px;
    color: white;
    background-color: rgb(247, 3, 3);
}

button:hover {
    color: red;
    background-color: black;
    border: 2px solid green;
}